@inject IJSRuntime JS;

<header id="header" class="">
    <div class="container">
        <h1><a href="/">Himadri Info Solution</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <h2>We are your Awesome <span>Web & Mobile</span> team</h2>
        <h2>L O V E D - B Y</h2>
        <h2>Entrepreneurs, Freelancers, Digital Agencies, Start-Ups & Companies</h2>
        <h2>Explore our, <a href="/projects/">Projects</a></h2>
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="about">
                        <span class="oi oi-plus" aria-hidden="true"></span>About
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="projects">
                        <span class="oi oi-plus" aria-hidden="true"></span>Projects
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="contact">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Contact
                    </NavLink>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("onAssemblyLoad");
    }
}
