@inherits LayoutComponentBase

<Header />

<div class="page">
    <main>
        @Body
    </main>
</div>

<div class="credits">
    Designed &amp; Licensed by <a href="https://himadriinfosolution.com/">Himadri Info Solution</a><br>
</div>