@page "/about"
@inherits BasePage

<PageTitle>@Title About</PageTitle>

<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About</h2>
            <p>Learn more about us</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="images/me.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Himadri Info Solution</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Launched:</strong> <span>2015</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Achieved Rank #2:</strong> <span>Service provider on world marketplaces</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Fortuner:</strong> <span>Added some fortune companies</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Expansion:</strong> <span>Offshore expansion in 2020</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End About Me -->
    
    <!-- ======= Interests ======= -->
    <div class="interests container">

        <div class="section-title">
            <h2>Our Core Values</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Integrity</h3>
                    <div class="mt-2 fs-7">We can not think of anything without it.</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Think Win-Win</h3>
                    <div class="mt-2 fs-7">When everyone wins, it makes us happier.</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Unleash Our Potential</h3>
                    <div class="mt-2 fs-7">We are thrilled to push our limits everyday.</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Simplify</h3>
                    <div class="mt-2 fs-7">Best way to take our biggest decisions.</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Giving back</h3>
                    <div class="mt-2 fs-7">We love to take initiatives that make our world a better place to live</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Reliability</h3>
                    <div class="mt-2 fs-7">We are who not only talk the talk but walk the walk too.</div>
                </div>
            </div>
        </div>

        <div class="section-title mt-4">
            <h2>Leadership</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Amol Patekar</h3>
                    <div class="mt-2 fs-7">CEO / Founder</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Priyanka Soni</h3>
                    <div class="mt-2 fs-7">Senior HR</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="icon-box">
                    <h3>Vijendra Verma</h3>
                    <div class="mt-2 fs-7">Senior Manager</div>
                </div>
            </div>
        </div>
    </div>

</section>

<PageLoadScript Href="about" />
