@page "/projects"
@inherits BasePage

<PageTitle>@Title Projects</PageTitle>

<section id="projects" class="projects">
    <div class="container">

        <div class="section-title">
            <h2>Projects</h2>
            <p>Our Projects</p>
        </div>

        <div class="row">
            <!--Project 1-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <img src="https://xieno.com/wp-content/uploads/2018/02/muzicvue-464x305.jpg" />
                    <h4 class="mt-3">Muzic Vue</h4>
                    <p>
                        A platform that brings live and high quality live streaming or video recording technology to anyone with an internet connection anywhere around the world.
                    </p>
                </div>
            </div>

            <!--Project 2-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://xieno.com/wp-content/uploads/2018/02/permatex-464x305.jpg" />
                    <h4 class="mt-3">Permatex</h4>
                    <p>
                        Permatex is a division of ITW, a Fortune 500 company, and a leading manufacturer, distributor and marketer of premium chemical products to the automotive maintenance and repair, home and hardware markets.
                    </p>
                </div>
            </div>

            <!--Project 3-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="https://xieno.com/wp-content/uploads/2018/02/outinyvr-464x305.jpg" />
                    <h4 class="mt-3">Out in Vancouver</h4>
                    <p>
                        An online directory of all the foods and drinks in the Vancouver city. Search by items, such as wings, taco, beer, pizza, and we can pull up all of those items in the city.
                    </p>
                </div>
            </div>

            <!--Project 4-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="https://xieno.com/wp-content/uploads/2018/02/tattooyou-464x305.jpg" />
                    <h4 class="mt-3">Tattoo You</h4>
                    <p>
                        A marketplace for famous tattoo artists designing amazing temporary tattoos. TattooYou.com reinvents the temporary tattoo with the best imagery and styles from the world of permanent tattoo.
                    </p>
                </div>
            </div>

            <!--Project 5-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="https://xieno.com/wp-content/uploads/2018/02/Spraynine-464x305.jpg" />
                    <h4 class="mt-3">Spray Nine</h4>
                    <p>
                        Spray Nine is a TM of ITW Inc, a Fortune 500 company, specialty cleaners for industrial, institutional, retail, automotive, marine and military/government applications.
                    </p>
                </div>
            </div>

            <!--Project 6-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="https://xieno.com/wp-content/uploads/2018/02/splatonline-464x305.jpg" />
                    <h4 class="mt-3">Splat Online</h4>
                    <p>
                        Splat is and online data base contains 10’s of thousands of imaging essentials, including pre-produced IDs, promos, production fx, artist ID’s, listener drops and more, including PPM friendly elements.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<PageLoadScript Href="projects" />